<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">Roy-Blog</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="d-flex nav-item ">
                            <a href="#" class="nav-link">Home</a>
                            <a href="#" class="nav-link">About</a>
                            <a href="#" class="nav-link">Careers</a>
                            <a href="#" class="nav-link">Terms and Condition</a>
                            <a href="#" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright &#169; 2023 Roy BlogSite</p>
            </div>
        </div>
    </div>
</footer>