<div class="card shadow-effect">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3iNw1EzLJHNdSAgtPZ4CQyHIweCe3YIJQeg&usqp=CAU" alt="">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Features</small>
        <small class="bg-light text-info text-center">Views - 100,256</small>

        <h5 class="mt-1">How to start a blog in 2023</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas dolore aspernatur, sed dignissimos incidunt sit, eius veritatis at asperiores quae quasi, officiis cumque aut.</p>

        <small class="bg-light text-warning text-center ml-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi unde dolore nulla ducimus officiis, corrupti iure nesciunt distinctio facilis placeat.</small>


    </div>
</div>